$primary-font: 'Muller', sans-serif;
$second-font: 'Gilroy', sans-serif;


$red: #e3000f;
$hover_red: #CC000E;
$light_hover_red: #ffe5e7;
$white: #fff;
$grey: #f0f4f6;
$dark_grey: #4f4f4f;

$text_color1: #2f2f2f;
$text_color2: #727272;

body {
    padding: 0;
    margin: 0;
    font-family: $primary_font;
    font-size: 16px;
    background-color: $grey;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &.popup-opened {
        overflow: hidden;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

svg {
    pointer-events: none;
}

a {
    @media (hover: hover) {
        &:hover {
            color: $red;
        }
    }

    &:active {
        color: $red;
    }
}

a,
button {
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: background-color, color, border-color, box-shadow, opacity, linear-gradient;
    transition-timing-function: ease-in-out;

    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

input[type="submit"] {
    &:disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}


img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

.content {
    h1,h2,h3 ,h4, h5 ,h6 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.viewed {
    .from-left {
        animation: from-left 1s ease-out forwards;
    }

    .from-right {
        animation: from-right 1s ease-out forwards;
    }
}

@keyframes from-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes from-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    --container-max: 1680px;
    width: 100%;
    max-width: var(--container-max);
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 1680px) {
        --container-max: 1480px;
    }

    @media (max-width: 1360px) {
        --container-max: 1200px;
    }


    @media (max-width: 1280px) {
        --container-max: 1140px;
    }

    @media (max-width: 1140px) {
        --container-max: 960px;
    }

    @media (max-width: 991px) {
        --container-max: 768px;
    }

    @media (max-width: 768px) {
        --container-max: 670px;
    }

    @media (max-width: 576px) {
        --container-max: 100%;
    }
}

.red-hover-bg-effect {
    @media (hover: hover) {
        &:hover {
            color: $white;
            background-color: $red;
        }
    }

    &:active {
        background-color: $red;
        color: $white;
    }
}

.scale-hover-effect {
    transition: 0.3s transform ease-in-out;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.3, 1.3);
        }
    }

    &:active {
        transform: scale(1.3, 1.3);
    }
}

.primary-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 16px;
    font-family: $primary-font;
    background-color: $red;
    border: 1px solid $red;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-align: left;
    color: #f2f2f2;

    @media (hover: hover) {
        &:hover {
            color: $red;
            background-color: $white;
        }
    }

    &:active {
        background-color: $white;
        color: $red;
    }
}

.transparent-btn {
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    font-size: 24px;
    border-radius: 16px;
    font-family: $primary-font;
    line-height: 1;
    width: 100%;

    @media screen and (max-width: 768px) {
        font-size: 20px;
        padding: 16px;
    }

    @media screen and (max-width: 470px) {
        font-size: 14px;
    }

    @media (hover: hover) {
        &:hover {
            color: $white;
            background-color: $text_color1;
        }
    }

    &:active {
        background-color: $text_color1;
        color: $white;
    }
}

.icon-slide-hover-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: background-color 0.3s ease, padding-left 0.3s ease;
    font-size: 24px;
    padding: 24px;
    border-radius: 16px;
    background-color: $red;
    font-family: $primary-font;
    font-weight: 700;
    line-height: 1;
    color: $white;

    &.grey-bg {
        background-color: #dcdcdc;
        color: $text_color1;

        @media (hover: hover) {
            &:hover {
                color: $white;
                background-color: $text_color2;
            }
        }

        &:active {
            color: $white;
            background-color: $text_color2;
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 20px;
        padding: 16px;
    }

    @media screen and (max-width: 470px) {
        font-size: 14px;
    }

    .btn-inner {
        transition: 0.3s width ease-in-out;
        width: 0;
    }

    .btn-text {
        white-space: nowrap;
    }

    svg {
        margin-left: auto;
        transition: opacity 0.3s ease;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48bGluZSB4MT0iOCIgeTE9IjIiIHgyPSI4IiB5Mj0iMTQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPjxsaW5lIHgxPSIyIiB5MT0iOCIgeDI9IjE0IiB5Mj0iOCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+");
    }

    @media (hover: hover) {
        &:hover {
            color: $white;
            background-color: $hover_red;

            .btn-inner {
                width: 100%;
            }

            svg {
                opacity: 0;
                visibility: hidden;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    &:active {
        color: $white;
        background-color: $hover_red;

        .btn-inner {
            width: 100%;
        }

        svg {
            opacity: 0;
            visibility: hidden;
        }

        &:after {
            opacity: 1;
        }
    }
}

.border-hover-effect-pink {
    border-radius: inherit;
    transition: box-shadow 0.3s ease;

    @media (hover: hover) {
        &:hover {
            box-shadow: 0 0 0 8px #ffe5e7;
        }
    }

    &:active {
        box-shadow: 0 0 0 8px #ffe5e7;
    }
}

.border-hover-effect-dark {
    position: relative;
    border-radius: inherit;
    transition: box-shadow 0.3s ease;

    @media (hover: hover) {
        &:hover {
            color: $white;
            background-color: $red;
            border-color: $red;
            animation: borderFlash 0.3s ease forwards;
        }
    }

    &:active {
        color: $white;
        background-color: $red;
        border-color: $red;
        animation: borderFlash 0.3s ease forwards;
    }
}

@keyframes borderFlash {
    from {
        box-shadow: 0 0 0 8px $text-color1;
    }

    to {
        box-shadow: 0 0 0 0 $text-color1;
    }
}

.swiper-same-height {
    .swiper-container {
        display: flex;
        align-items: stretch;
        /* Stretches items to fit the tallest one */
    }

    .swiper-slide {
        height: auto;
        /* Ensures slide content fills the available height */
    }
}

.breakout-right {
    position: relative;
    width: calc(100vw - ((100vw - var(--container-max)) / 2));
    margin-right: calc(-1 * (100vw - var(--container-max)) / 2);
}

textarea {
    height: 132px;
    resize: none;
}

textarea,
input[type="number"],
input[type="date"],
input[type="text"] {
    appearance: none;
    width: 100%;
    font-family: $second_font;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 38px;
    font-size: 16px;
    padding: 20px 16px;
    border-radius: 8px;
    color: $text_color1;
    border: 2px solid transparent;
    transition: 0.3s border-color ease-in-out;

    @media screen and (max-width: 768px) {
        padding: 17px 16px;
    }

    &.not-valid {
        background-color: #fcb4b4;
    }

    &:hover {
        border-color: $red;
    }

    &:focus {
        border-color: $red;
        outline: none;
    }

    &::placeholder {
        font-family: $second_font;
        color: $text_color1;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

input[type="date"] {
    background-color: #fff;
    position: relative;
    appearance: auto;
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 24px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzg2NTgyXzI3NSkiPgo8cGF0aCBkPSJNNiA5TDEyIDE1TDE4IDkiIHN0cm9rZT0iIzJGMkYyRiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF84NjU4Ml8yNzUiPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9IndoaXRlIi8+CjwvY2xpcFBhdGg+CjwvZGVmcz4KPC9zdmc+Cg==');

    -webkit-appearance: none;
    /* Safari/Chrome */
    -moz-appearance: none;
    /* Firefox */
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}


input[type="submit"] {
    cursor: pointer;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.3s background-color, color ease-in-out;


    @media (hover: hover) {
        &:hover {
            background-color: $red;
            color: #fff;

            svg path {
                stroke: #fff;
            }
        }
    }

    &:active {
        background-color: $red;
        color: #fff;

        svg path {
            stroke: #fff;
        }
    }
}


.checkbox {
    position: relative;
    padding-left: 26px;
    font-family: $second-font;
    font-size: 16px;
    line-height: 1.2;

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .checkbox-box {
        top: 2px;
        left: 0;
        position: absolute;
        margin-right: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        background-color: $red;
        border-radius: 4px;

        &:before {
            display: none;
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 10px;
            height: 6px;
            border: 3px solid $white;
            border-top: none;
            border-right: none;
            transform: rotate(310deg);
        }
    }

    input:checked+span:before {
        display: block;
    }
}

.lang-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-family: $primary-font;
}

/* Hide checkbox but KEEP it clickable via label */
.lang-toggle {
    position: absolute;
    opacity: 0;
}

/* Button */
.lang-current {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: $text_color1;
    user-select: none;

    svg {
        transition: transform 0.3s ease;
    }
}

/* Dropdown */
.lang-options {
    position: absolute;
    top: calc(100%);
    left: 0;
    min-width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 0 0;
    background-color: $grey;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 10;

    li a {
        display: block;
        padding: 8px 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: $text_color1;

        &:hover {
            color: $white;
            background-color: $red;
        }
    }
}

/* =========================
   OPEN STATES
   ========================= */

/* Hover (desktop) */
.lang-select:hover .lang-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Checkbox (touch / keyboard) */
.lang-toggle:checked~.lang-options {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Arrow rotate (both cases) */
.lang-select:hover .lang-current svg,
.lang-toggle:checked+.lang-current svg {
    transform: rotate(180deg);
}

.onetap-container-toggle {
    display: none !important;

}
