html {
    position: relative;
    min-height: 100%;

    &.popup-opened {
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
}


.my_overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #16181D;
    opacity: 0.9;
    cursor: pointer;
    display: block;
}

.popup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5000;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;

    .popup-wrapper {
        position: relative;
        width: 860px;
        padding: 32px;
        margin: 70px auto 50px;
        position: relative;
        z-index: 2;
        background: #fff;
    }


    .wpcf7-not-valid-tip {
        text-align: left;
    }

    @media screen and (max-width: 768px) {
        .popup-wrapper {
            margin-top: 40px;
            width: 90% !important;
            padding: 45px 20px;

            @media screen and (max-width: 470px) {
                width: calc(100% - 20px) !important;
                padding: 70px 20px;
            }
        }
    }

    button.popup-close {
        display: flex;
        align-items: center;
        justify-content: center;
        filter: none;
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 14px;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #f2f2f2;

        position: absolute;
        right: 16px;
        top: 16px;
        padding: 0;
        z-index: 10;
        opacity: 0.9;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            background-size: 15px auto;
            opacity: 1;
            width: 40px;
            height: 40px;
        }

        &:hover {
            opacity: 1;
        }
    }
}

div.wpcf7 .ajax-loader {
    position: absolute;
    right: 0;
}

#popup-privacy-modal {
    .popup-wrapper {
        position: relative;
        width: 1200px;

        @media screen and (max-width: 1200px) {
            margin-top: 40px;
            width: 90% !important;
            padding: 45px 20px;
        }

        @media screen and (max-width: 470px) {
            width: calc(100% - 20px) !important;
            padding: 70px 20px;
        }
    }
}

#popup-contacts-modal {
    .popup-wrapper {
        max-width: 680px;
        padding: 64px;
        border-radius: 16px;

        @media screen and (max-width: 768px) {
            padding: 60px 16px 48px;
        }
    }

    .contacts-popup {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            text-align: center;
            align-items: center;
        }

        @media screen and (max-width: 470px) {
            align-items: flex-start;
            text-align: left;
        }

        &__phone,
        &__note,
        &__email,
        &__title {
            display: flex;
            align-items: center;
            gap: 12px;
            font-family: $primary-font;
            font-weight: 700;
            line-height: 1;
            color: $text_color1;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 32px;

            @media screen and (max-width: 768px) {
                font-size: 24px;
                margin-bottom: 24px;
            }

            @media screen and (max-width: 470px) {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }

        &__note {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 16px;

            @media screen and (max-width: 768px) {
                font-size: 16px;
            }

            @media screen and (max-width: 470px) {
                font-size: 14px;
                margin-bottom: 14px;
            }
        }

        &__email {
            font-size: 32px;
            line-height: 1.4;
            margin-bottom: 16px;

            @media screen and (max-width: 768px) {
                font-size: 24px;
                margin-bottom: 18px;
            }

            @media screen and (max-width: 470px) {
                font-size: 20px;
                margin-bottom: 24px;
            }
        }

        &__phone {
            font-size: 48px;
            margin-bottom: 32px;

            @media screen and (max-width: 768px) {
                font-size: 24px;
                margin-bottom: 24px;
            }

            @media screen and (max-width: 470px) {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }

        &__social-list {
            display: flex;
            gap: 8px;

            @media screen and (max-width: 768px) {
                justify-content: center;
            }
        }
    }

}
