h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary-font;
	font-weight: 700;
	line-height: 1;

	strong,
	b {
		color: $red;
	}

}

h1 {
	font-size: 88px;
	color: #f2f2f2;

	@media screen and (max-width: 1570px) {
		font-size: 76px;
	}

	@media screen and (max-width: 1470px) {
		font-size: 66px;
	}

	@media screen and (max-width: 1200px) {
		font-size: 56px;
	}

	@media screen and (max-width: 670px) {
		font-size: 48px;
	}
}

h2 {
	font-size: 88px;
	color: $text_color1;

	@media screen and (max-width: 1570px) {
		font-size: 76px;
	}

	@media screen and (max-width: 1470px) {
		font-size: 66px;
	}

	@media screen and (max-width: 1200px) {
		font-size: 56px;
	}

	@media screen and (max-width: 670px) {
		font-size: 48px;
	}
}

h3 {
	font-size: 48px;

	@media screen and (max-width: 768px) {
		font-size: 40px;
	}

	@media screen and (max-width: 670px) {
		font-size: 24px;
	}
}

h4 {
	font-size: 20px;
	line-height: 1.2;
}

p {
	font-family: $primary_font;
	color: $text_color2;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;

	@media screen and (max-width: 670px) {
		font-size: 14px;
	}
}

a,
button,
span {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
