h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $primary_font;
	font-weight: 700;
	line-height: 1;

	strong,
	b {
		color: #4ba495;
	}

}

h1 {
	font-size: 64px;
	font-weight: 700;
	color: #f2f2f2;
	letter-spacing: -1px;

	@media screen and (max-width: 1200px) {
		font-size: 56px;
	}

	@media screen and (max-width: 991px) {
		font-size: 42px;
	}

	@media screen and (max-width: 470px) {
		font-size: 32px;
	}
}

h2 {
	font-size: 56px;

	@media screen and (max-width: 1200px) {
		font-size: 46px;
	}

	@media screen and (max-width: 991px) {
		font-size: 38px;
	}

	@media screen and (max-width: 470px) {
		font-size: 32px;
	}
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 20px;
	line-height: 1.2;
}

p {
	font-size: 16px;
	font-family: $primary_font;

	@media screen and (max-width: 991px) {
		font-size: 18px;
	}
}

a,
button,
span {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}
