.block-results {
	position: relative;
	padding: 32px 0 48px;

	@media screen and (max-width: 1280px) {
		padding: 24px 0;
	}

	@media screen and (max-width: 670px) {
		padding: 16px 0;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;

		@media screen and (max-width: 1280px) {
			flex-direction: column;
			max-width: 680px;
			width: 100%;
			margin-bottom: 24px;
		}

		@media screen and (max-width: 670px) {
			margin-bottom: 16px;
		}
	}

	&__title-wrapper {
		width: 100%;
		max-width: 870px;

		@media screen and (max-width: 1280px) {
			margin-bottom: 24px;
		}
	}

	&__title {
		margin-bottom: 16px;
	}

	&__description {
		p {
			font-size: 32px;
			line-height: 1.2;
			color: $text_color2;

			@media screen and (max-width: 1470px) {
				font-size: 28px;
			}

			@media screen and (max-width: 1280px) {
				font-size: 24px;
			}

			@media screen and (max-width: 670px) {
				font-size: 20px;
			}
		}
	}

	&__report-wrapper {
		max-width: 486px;
		width: 100%;

		@media screen and (max-width: 1280px) {
			max-width: 100%;
		}
	}

	&__report-button {
		&:nth-child(1) {
			margin-bottom: 8px;
		}

		&:nth-child(2) {
			margin-bottom: 24px;

			@media screen and (max-width: 670px) {
				margin-bottom: 16px;
			}
		}
	}

	&__repot-list {
		display: flex;
		flex-direction: column;

		@media screen and (max-width: 1280px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: 670px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__report-item {
		padding: 8px 16px;
		display: flex;
		gap: 8px;
		align-items: center;
		font-size: 16px;
		line-height: 1.4;
		color: $text_color2;
		font-size: 400px;

		@media screen and (max-width: 1280px) {
			padding: 8px;
		}

		p {
			font-family: $second-font;
		}
	}

	&__achievements-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@media screen and (max-width: 1280px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media screen and (max-width: 670px) {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}

	&__achievements-item {
		padding: 24px;
		display: flex;
		gap: 120px;
		flex-direction: column;

		@media screen and (max-width: 1280px) {
			gap: 16px;
			padding: 16px;
		}
	}

	&__achievements-number {
		font-family: $primary-font;
		font-size: 64px;
		font-weight: 700;
		line-height: 1;
		color: $red;

		@media screen and (max-width: 1670px) {
			font-size: 48px;
		}
	}

	&__achievements-text {
		font-size: 32px;
		font-weight: 700;
		line-height: 1;
		color: $text_color2;

		@media screen and (max-width: 1670px) {
			font-size: 28px;
		}

		@media screen and (max-width: 670px) {
			font-size: 20px;
		}
	}

	.animation-pulse {
		position: absolute;
		left: 0;
		bottom: 0;
		bottom: 250px;

		@media screen and (max-width: 1280px) {
			bottom: 0;
			position: relative;
		}
	}
}
