.car-animation {
	--animation-start-time: 3s;
	--animation-drop-time: 0.4s;
	--animation-move-away-time: 2.5s;
	--car-move-x: -100vw;

	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 600px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__icon-container {
		position: relative;
		display: flex;
		justify-content: center;
		gap: 70px;
	}

	&__icon {
		--idle-x: 0px;
		--idle-y: 0px;
		--idle-rotate: 0deg;
		--drop-x: 0px;
		--drop-y: 0px;
		--icon-offset-x: 0px;
		--icon-offset-y: 0px;

		position: relative;
		width: 94px;
		height: 94px;
		transform: translateX(var(--car-move-x, 0)) translate3d(var(--icon-offset-x), var(--icon-offset-y), 0);
		will-change: transform;
	}

	&__car-wrapper {
		display: inline-flex;
		bottom: 10px;
		position: relative;
	}

	&__car {
		transform: translateX(var(--car-move-x, -100vw));
		transition: transform var(--animation-start-time) ease-in-out;
	}

	&__car-body {
		position: absolute;
		top: 0;
		left: 0;
		width: 72%;
		height: 30px;
	}
}
