.car-animation {
	--animation-start-time: 3s;
	--animation-drop-time: 0.4s;
	--animation-move-away-time: 2.5s;
	--car-move-x: -100vw;


	--icon-in-container-x: 0px;
	--icon-in-container-y: 0px;

	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 600px;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media screen and (max-width:1200px) {
		height: 774px;
	}

	@media screen and (max-width:991px) {
		height: 600px;
	}

	@media screen and (max-width:670px) {
		height: 500px;
	}

	@media screen and (max-width:470px) {
		height: 350px;
	}


	&__icon-container {
		position: relative;
		display: inline-flex;
		justify-content: center;
		gap: 70px;
		flex-wrap: wrap;

		@media screen and (max-width:1470px) {
			gap: 40px;
		}

		@media screen and (max-width:470px) {
			gap: 20px;
		}
	}

	&__icon {
		position: relative;
		width: 94px;
		height: 94px;
		will-change: transform;
		--icon-delay: 0ms;

		@media screen and (max-width:991px) {
			width: 78px;
			height: 78px;
		}

		@media screen and (max-width:470px) {
			width: 48px;
			height: 48px;
		}
	}

	&__car-wrapper {
		display: inline-flex;
		bottom: 10px;
		position: relative;
	}

	&__car {
		max-width: 830px;
		transform: translateX(var(--car-move-x, -100vw));
		transition: transform var(--animation-start-time) ease-in-out;

		@media screen and (max-width:991px) {
			max-width: 500px;
		}

		@media screen and (max-width:470px) {
			max-width: 180px;
		}

		svg {
			height: 100%;
			width: 100%;
		}
	}

	&__car-body {
		position: absolute;
		top: 0;
		left: 0;
		width: 72%;
		height: 30px;
	}

	&[data-animation-state="enter"] {
		.car-animation {
			&__car {
				transform: translateX(var(--car-move-x, -100vw));
			}
		}

	}

	&[data-animation-state="drop-icons"] {
		.car-animation {
			&__icon {
				transition: transform var(--animation-drop-time) ease-out var(--icon-delay, 0ms);
				transform: translate(var(--icon-in-container-x), var(--icon-in-container-y));
			}
		}

	}

	&[data-animation-state="move-away"] {
		.car-animation {
			&__car {
				transition: transform var(--animation-move-away-time) ease-in-out;
				transform: translateX(120vw);
			}

			&__icon {
				transform: translate(var(--icon-in-container-x), var(--icon-in-container-y));
			}
		}

	}

	&[data-animation-state="idle"] {
		.car-animation {
			&__car {
				transition: none;
				transform: translateX(-120vw);
			}

			&__icon {
				transition: none;
				transform: translate(0, 0);
			}
		}
	}
}

.debug-point {
	position: fixed;
	width: 8px;
	height: 8px;
	background: red;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	pointer-events: none;
}
