.donat-section {
	padding: 24px 0 32px;

	@media screen and (max-width: 1280px) {
		padding: 32px 0;
	}

	@media screen and (max-width: 768px) {
		padding: 16px 0 24px;
	}
}

.donat-block {
	position: relative;
	border-radius: 48px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 64px;
	display: flex;
	gap: 24px;
	overflow: hidden;

	@media screen and (max-width: 1280px) {
		padding: 0;
		border-radius: 0;
		background-image: none !important;
		flex-direction: column;
	}

	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);

		@media screen and (max-width: 1280px) {
			display: none;
		}
	}

	&__left-wrapper {
		position: relative;
		z-index: 1;
		flex: 1;
		padding-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		border-radius: 24px;
		overflow: hidden;

		@media screen and (min-width: 1280px) {
			background-image: none !important;
		}

		@media screen and (max-width: 1280px) {
			padding: 32px;
		}

		@media screen and (max-width: 768px) {
			padding: 32px 16px;
		}

		&:after {
			content: '';
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);

			@media screen and (max-width: 1280px) {
				display: block;
			}
		}
	}

	&__right-wrapper {
		position: relative;
		z-index: 1;
		max-width: 634px;
		width: 100%;
		flex-shrink: 0;

		@media screen and (max-width: 1280px) {
			max-width: 680px;
			margin: 0 auto;
		}

		@media screen and (max-width: 991px) {
			max-width: 100%;
		}
	}

	&__title {
		position: relative;
		z-index: 1;
		margin-bottom: 24px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
		}
	}

	&__description {
		margin-bottom: 50px;
		position: relative;
		z-index: 1;

		p {
			font-family: $primary-font;
			font-size: 32px;
			line-height: 1.2;
			color: #f2f2f2;

			@media screen and (max-width: 1200px) {
				font-size: 24px;
			}

			@media screen and (max-width: 991px) {
				font-size: 20px;
			}
		}
	}

	&__icons-wrapper {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
		margin-top: auto;

		@media screen and (max-width: 1470px) {
			grid-template-columns: 1fr 1fr;
			gap: 8px;
		}

		@media screen and (max-width: 1280px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media screen and (max-width: 670px) {
			display: flex;
			flex-direction: column;
		}
	}

	&__icon-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 8px;

		@media screen and (max-width: 1280px) {
			flex-direction: row;
			gap: 12px;
		}

		&:hover {
			.donat-block__icon-item-text {
				transform: translateY(-100%);
				opacity: 0;
			}

			.donat-block__icon-item-hover-text {
				transform: translateY(0);
				opacity: 1;
			}
		}
	}

	&__icon-img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: $white;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 12px;
		flex-shrink: 0;

		@media screen and (max-width: 1470px) {
			width: 60px;
			height: 60px;
		}

		@media screen and (max-width: 991px) {
			width: 48px;
			height: 48px;
		}

		img {
			width: 60%;
			height: 60%;
		}
	}

	&__icon-item-sum-inner {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 8px;
		overflow: hidden;
	}

	&__icon-item-sum {
		font-family: $primary-font;
		font-size: 48px;
		font-weight: 700;
		line-height: 1;
		color: $white;

		@media screen and (max-width: 1570px) {
			font-size: 36px;
		}

		@media screen and (max-width: 1280px) {
			font-size: 20px;
		}
	}

	&__icon-item-text-wrapper {
		position: relative;
		overflow: hidden;
	}


	&__icon-item-text,
	&__icon-item-hover-text {
		font-family: $primary-font;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.1;
		color: $white;

		transition:
			transform 0.4s ease,
			opacity 0.3s ease;

		will-change: transform, opacity;

		@media screen and (max-width: 1570px) {
			font-size: 20px;
		}

		@media screen and (max-width: 1280px) {
			font-size: 14px;
		}
	}

	&__icon-item-text {
		position: relative;
		transform: translateY(0);
		opacity: 1;
	}

	&__icon-item-hover-text {
		position: absolute;
		inset: 0;

		transform: translateY(100%);
		opacity: 0;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		border-radius: 24px;
		background-color: $white;

		@media screen and (max-width: 1280px) {
			padding: 16px;
		}

		@media screen and (max-width: 768px) {
			gap: 8px;
		}
	}

	&__form-radio-period-wrapper {
		display: flex;
		padding: 8px;
		gap: 8px;
		border-radius: 8px;
		background-color: rgba(242, 242, 242, 0.5);
	}

	&__form-radio-period-item {
		position: relative;
		flex: 1;
		border-radius: 16px;

		input {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $primary-font;
			font-size: 24px;
			font-weight: 700;
			line-height: 1;
			color: #1a1a18;
			background-color: $white;
			padding: 12px 16px;
			border-radius: 16px;

			@media screen and (max-width: 768px) {
				font-size: 20px;
			}
		}

		input:checked+span {
			font-weight: 700;
			background-color: #ffe5e7;
		}
	}

	&__form-fields-wrapper {
		border-radius: 16px;
		background-color: $grey;
		padding: 16px;

		@media screen and (max-width: 768px) {
			padding: 14px;
		}
	}

	&__form-fields-title {
		font-size: 16px;
		line-height: 1.4;
		font-family: $second-font;
		color: $text_color1;
		margin-bottom: 8px;
	}

	&__form-radio-sum-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-bottom: 24px;
	}

	&__form-radio-sum-item {
		flex: 1;
		position: relative;

		input {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $primary-font;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2;
			color: $text_color1;
			padding: 12px 16px;
			border-radius: 16px;
			border: 1px solid $text_color1;
			cursor: pointer;

			@media screen and (max-width: 768px) {
				font-size: 14px;
				padding: 14px;
			}
		}

		input:checked+span {
			color: $white;
			background: $red;
			border: 1px solid $red;
		}
	}

	&__form-radio-custom-sum-item {
		width: 100%;
	}

	&__form-personal-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 14px;
		margin-bottom: 24px;

		@media screen and (max-width: 470px) {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
	}

	&__input-wrapper {
		color: #28282D;
		font-family: $primary_font;
		font-size: 16px;
		font-weight: 400;
		line-height: 110%;
		display: flex;
		flex-direction: column;
		gap: 3px;

		&:not(:nth-child(-n+2)) {
			grid-column: span 2;
		}

		&.date {
			position: relative;
			overflow: hidden;

			.date-placeholder {
				position: absolute;
				top: 50%;
				left: 2px;
				display: block;
				z-index: 1;
				background-color: #fff;
				padding: 16px 20px;
				transform: translateY(-50%);

				@media screen and (max-width: 768px) {
					padding: 17px 16px;
				}
			}
		}
	}

	&__checkbox {
		display: block;

		p {
			font-size: 14px;
		}

		a {
			display: inline;
			font-size: 14px;
			color: $red;
			text-decoration: underline;
			font-family: $second-font;
			font-size: 16px;
			font-weight: 700;
			line-height: 1.2;
		}
	}
}
