.footer {
	background-color: #101010;
	padding: 64px 0;

	@media screen and (max-width: 768px) {
		padding: 24px 0;
	}

	&__inner-container {
		display: flex;
		justify-content: space-between;
		margin-bottom: 64px;

		@media screen and (max-width: 1140px) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 100px;
		}

		@media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-bottom: 24px;
		}
	}

	&__logo-block {
		color: #f2f2f2;
		width: 100%;
		max-width: 236px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		p {
			font-size: 12px;
		}

		@media screen and (max-width: 768px) {
			margin: 0 auto;
			align-items: center;
			order: 1;
			gap: 16px;
		}
	}

	&__note-block {
		font-family: $second-font;
		font-size: 12px;
		line-height: 1.2;
		color: #f2f2f2;

		p:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	&__developers-note {
		@media screen and (max-width: 768px) {
			display: none;
			text-align: center;
			margin: auto 0;
		}

		&.mob {
			display: none;

			@media screen and (max-width: 768px) {
				display: block;
				text-align: center;
				margin: auto 0;
			}
		}

		p {
			font-size: 12px;
		}
	}

	&__middle-text-block {
		width: 100%;
		max-width: 350px;
		font-family: $second-font;
		line-height: 1.3;
		color: #f2f2f2;

		@media screen and (max-width: 768px) {
			order: 2;
			margin: 0 auto;
		}

		p {
			font-size: 14px;

			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}

	&__block-title {
		font-family: $primary-font;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.25;
		color: #f2f2f2;
		margin-bottom: 28px;

		@media screen and (max-width: 768px) {
			margin-bottom: 16px;
			font-size: 14px;
		}
	}

	&__menu-wrapper {
		color: #f2f2f2;
		max-width: 190px;
		width: 100%;

		@media screen and (max-width: 768px) {
			order: 4;
			text-align: center;
			margin: 0 auto;
		}
	}

	&__menu {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 24px;
		font-size: 14px;

		@media screen and (max-width: 768px) {
			margin-bottom: 38px;
		}
	}

	&__contacts-us-block {
		color: #f2f2f2;
		width: 100%;
		max-width: 290px;

		@media screen and (max-width: 768px) {
			order: 3;
			text-align: center;
			margin: 0 auto;
		}
	}

	&__work-schedule,
	&__email,
	&__footer-location {
		margin-bottom: 16px;
		line-height: 1.3;
		font-size: 14px;

		@media screen and (max-width: 768px) {
			margin-bottom: 14px;
		}
	}

	&__phone {
		display: inline-flex;
		font-family: $primary-font;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.2;
		color: #f2f2f2;
		margin-bottom: 24px;

		@media screen and (max-width: 768px) {
			font-size: 14px;
			margin-bottom: 16px;
		}
	}

	&__socials-wrapper {
		display: flex;
		align-items: center;
		gap: 8px;

		@media screen and (max-width: 768px) {
			justify-content: center;
		}
	}

	&__social-item {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 8px;
		border-radius: 8px;
		background-color: #2f2f2f;
	}

	&__ps-text {
		font-family: $second-font;
		font-size: 14px;
		line-height: 1.3;
		color: #f2f2f2;

		@media screen and (max-width: 768px) {
			text-align: center;
		}

		p {
			@media screen and (max-width: 768px) {
				font-size: 14px;
			}
		}

		a {
			font-weight: 700;
			line-height: 1.2;
			color: #4ba495;
			text-decoration: underline;
		}
	}
}
