.header {
	display: flex;
	align-items: center;
	height: 64px;

	&.menu-opened {

		.header__nav-wrapper {
			top: 0;
		}

		.header__hamburger {
			position: fixed;
			top: 20px;
			right: 20px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 30px;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzgyNTMzXzQzNDQpIj4KPHBhdGggZD0iTTE4IDZMNiAxOCIgc3Ryb2tlPSIjMkYyRjJGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNiA2TDE4IDE4IiBzdHJva2U9IiMyRjJGMkYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfODI1MzNfNDM0NCI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K');

			svg {
				display: none;
			}

			@media screen and (max-width: 1200px) {
				z-index: 102;
			}
		}


		.header__contact-us-container {
			@media screen and (max-width: 1200px) {
				display: flex;
				margin-top: 30px;
				align-items: center;
				flex-direction: column;
				gap: 24px;
			}
		}
	}

	&__contact-us-container {
		display: none;
	}

	&__logo {
		max-width: 160px;
		width: 100%;
		flex-shrink: 0;


		&.mob {
			margin-bottom: 117px;

			@media screen and (min-width: 1200px) {
				display: none;
			}
		}
	}

	&__inner-container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

	&__nav-wrapper {
		overflow-y: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 1040px;

		@media screen and (max-width: 1200px) {
			flex-direction: column;
			transition: 0.3s top;
			align-items: center;
			padding: 64px 24px;
			position: fixed;
			top: -200%;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			background-color: #fff;
		}
	}

	&__menu {
		list-style-type: none;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 28px;

		@media screen and (max-width: 1200px) {
			gap: 20px;
			flex-direction: column;
		}

		.menu-item {
			padding: 12px 2px;

			@media screen and (max-width: 1200px) {
				padding: 4px 16px;
				font-size: 24px;
				font-weight: 700;
			}
		}
	}

	&__hamburger {
		display: none;

		width: 48px;
		height: 48px;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		background-color: #f2f2f2;

		@media screen and (max-width: 1200px) {
			display: flex;
		}
	}

	&__contact-us-wrapper {
		display: flex;
		flex-shrink: 0;
		gap: 8px;
	}

	&__contact_us {
		@media screen and (max-width: 1200px) {
			display: none;
		}

		&.mob {
			@media screen and (max-width: 1200px) {
				display: inline-flex;
			}
		}
	}

	&__whatsapp,
	&__phone {
		display: flex;
		align-items: center;

		span {
			font-size: 14px;
			padding: 12px 16px;

			@media screen and (max-width: 1470px) {
				display: none;
			}
		}

		&.mob {
			@media screen and (max-width: 1200px) {
				display: inline-flex;
			}
		}
	}

}
