.header {
	display: flex;
	align-items: center;
	height: 80px;

	&.menu-opened {
		.header__nav-wrapper {
			top: 0;
		}

		.header__hamburger {
			transition: top 0.4s ease-in-out, right 0.4s ease-in-out;
			background-color: $grey;
			position: fixed;
			z-index: 101;
			top: 16px;
			right: 36px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 24px;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzg2NTQ2XzEyMTMpIj4KPHBhdGggZD0iTTE4IDZMNiAxOCIgc3Ryb2tlPSIjMkYyRjJGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNiA2TDE4IDE4IiBzdHJva2U9IiMyRjJGMkYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfODY1NDZfMTIxMyI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K');


			svg {
				display: none;
			}
		}
	}

	&__inner-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		max-width: 300px;

		@media screen and (max-width: 670px) {
			max-width: 185px;
		}

		&.mob {
			display: none;

			@media screen and (max-width: 1440px) {
				display: flex;
				max-width: 185px;
				width: 100%;
			}
		}
	}

	&__nav-wrapper {
		transition: 0.3s top ease-in-out;
		overflow-y: auto;

		@media screen and (max-width: 1440px) {
			position: fixed;
			top: -200%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $white;
			z-index: 100;
			padding: 32px 16px;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__menu {
		display: flex;
		list-style-type: none;

		@media screen and (max-width: 1440px) {
			margin-bottom: 40px;
			flex-direction: column;
			gap: 24px;
		}

		.menu-item {
			padding: 16px 14px;
			font-size: 16px;
			font-weight: 500;
			font-family: $primary-font;
			text-align: center;

			@media screen and (max-width: 1280px) {
				font-size: 32px;
				font-weight: 700;
				line-height: 1;
				color: $text_color1;
				padding: 8px 16px;
				text-align: left;
			}
		}
	}

	&__hamburger {
		display: none;

		margin-left: 8px;
		width: 48px;
		height: 48px;
		flex-grow: 0;
		justify-content: center;
		align-items: center;
		gap: 8px;
		padding: 12px 14px;
		border-radius: 14px;
		background-color: #fff;

		@media screen and (max-width: 1440px) {
			display: flex;
		}
	}

	&__contact-us-wrapper {
		display: flex;
		align-items: center;
	}

	&__eye-btn {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			position: relative;
			top: 1px;
		}


		@media (hover: hover) {
			&:hover {
				svg {
					path {
						transition: all 0.3s;
						stroke: $red;
					}
				}
			}
		}

		&:active {
			svg {
				path {
					stroke: $red;
				}
			}
		}
	}

	&__support-button {
		&:not(.mob) {
			@media screen and (max-width: 1440px) {
				font-size: 14px;
				padding: 14px;
			}

			@media screen and (max-width: 1440px) {
				padding: 12px 10px;
			}

			@media screen and (max-width: 470px) {
				width: 150px;
				margin-left: 8px;
				padding: 12px 2px;
			}
		}

		&.mob {
			display: none;

			@media screen and (max-width: 1440px) {
				display: flex;
				max-width: 415px;
				width: 100%;
				margin: 0 auto;
			}

			@media screen and (max-width: 415px) {
				margin: 0 auto 0 0;
				width: auto;
			}
		}
	}

	&__logo-wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__lang-wrapper {
		display: flex;

		@media screen and (max-width: 670px) {
			display: none;
		}

		&.mob {
			display: none;

			@media screen and (max-width: 670px) {
				display: flex;
			}
		}
	}

	&__eye-btn {
		background-color: transparent;
	}
}
