.how-it-works {
	padding: 96px 0 64px;

	@media screen and (max-width: 1470px) {
		padding: 64px 0 48px;
	}

	@media screen and (max-width: 768px) {
		padding: 48px 0 32px;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 48px;

		@media screen and (max-width: 1360px) {
			flex-direction: column-reverse;
			gap: 32px;
		}

		@media screen and (max-width: 768px) {
			gap: 24px;
		}
	}

	&__content {
		flex: 1;

		@media screen and (max-width: 768px) {
			text-align: center;
			width: 100%;
		}
	}

	&__subtitle {
		margin-bottom: 12px;
	}

	&__subtitle-text {
		display: inline-block;
		font-family: $second-font;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.08em;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		line-height: 1.3;
		margin-bottom: 24px;
		color: $text_color1;

		@media screen and (max-width: 1470px) {
			font-size: 40px;
		}

		@media screen and (max-width: 1200px) {
			font-size: 32px;
		}

		@media screen and (max-width: 768px) {
			font-size: 28px;
			margin-bottom: 16px;
		}
	}

	&__description {
		margin-bottom: 48px;

		p {
			font-size: 20px;
			line-height: 1.5;
			color: $text_color2;

			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}

		@media screen and (max-width: 1470px) {
			margin-bottom: 32px;
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@media screen and (max-width: 768px) {
			gap: 24px;
		}
	}

	&__card {
		display: flex;
		align-items: center;
		gap: 24px;
		text-align: left;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			text-align: center;
			gap: 16px;
		}
	}


	&__card-icon-circle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 2px solid hsla(0, 0%, 0%, 1);
		flex-shrink: 0;

		img {
			height: auto;
		}

		@media screen and (max-width: 768px) {
			height: 70px;
        	width: 70px;
		}
	}

	&__card-inner {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 8px;
		align-self: center;
	}

	&__card-title {
		font-family: $second-font;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 22px;
		line-height: 1.3;
		color: $red;

		@media screen and (max-width: 768px) {
			font-size: 20px;
		}
	}

	&__card-text {
		line-height: 1.5;
		color: $text_color2;
		font-size: 20px;

		@media screen and (max-width: 768px) {
			font-size: 18px;
		}
	}

	&__col-image {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 840px;

		@media screen and (max-width: 768px) {
			margin-top: 8px;
		}
	}

	&__img {
		max-width: 100%;
		height: auto;
		border-radius: 16px;
	}
}
