.section-partnership {
	padding: 64px 0;

	@media screen and (max-width: 991px) {
		padding: 32px 0;
	}

	&__block {
		overflow: hidden;
		position: relative;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		padding: 72px 121px;
		border-radius: 48px;

		@media screen and (max-width: 991px) {
			border-radius: 16px;
			padding: 74px 24px;
		}

		@media screen and (max-width: 470px) {
			padding: 32px 16px;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		margin-bottom: 48px;
		max-width: 800px;

		* {
			color: $white;
		}

		h2 {
			@media screen and (max-width: 470px) {
				font-size: 32px;
			}
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 24px;
		}

		p {
			font-size: 32px;
			line-height: 1.2;
			color: #f2f2f2;
			margin-bottom: 48px;
			font-weight: 400;

			@media screen and (max-width: 1470px) {
				font-size: 28px;
			}

			@media screen and (max-width: 1280px) {
				font-size: 24px;
				margin-bottom: 24px;
			}

			@media screen and (max-width: 670px) {
				font-size: 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__button-wrapper {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 486px;

		@media screen and (max-width: 991px) {
			max-width: 100%;
			gp: 16px;
		}
	}
}
