@import 'utils/_reset.scss';
@import 'utils/_fonts.scss';
@import 'utils/_global.scss';
@import 'utils/_typography.scss';
@import 'utils/_modal_window.scss';

@import 'components/_header.scss';
@import 'components/_footer.scss';

@import 'components/_donat-section.scss';
@import 'components/_about-us.scss';
@import 'components/_block-results.scss';
// Minimal boilerplate styles. Add project styles in components/ as needed.
